@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400&display=swap');

*, 
*::before, 
*::after {
    padding: 0;
    margin: 0;
}

body {
    height: 200vh;
    background: #eee;
}

.hamburger-nav {
    position: fixed;
    z-index: 5;
    top: 20px;
    right: 25px;
    cursor: pointer;

    // div {
    //     width: 25px;
    //     height: 3px;
    //     margin-top: 5px;
    //     background: white;
    //     transform: translateY(5px);
    // }

    .line::before {
        content: "";
        position: fixed;
        background: white;
        width: 25px;
        height: 3px;
        top: 0; 
        animation: showOnStart forwards .5s;
    }

    .line {
        position: fixed;
        background: white;
        width: 25px;
        height: 3px;
        animation: showOnStart forwards .5s;
    }

    .line::after {
        content: "";    
        position: fixed;
        background: white;
        width: 25px;
        height: 3px;
        top: 15px;
        animation: showOnStart forwards .25s;
    }

}

.launch-back {
    background: #000;

    img {
        width: 100%;
        object-fit: cover;
        height: 100vh;
        opacity: .25;
        top: 0;
        overflow: hidden;
    }

    .title {
        top: 45vh;
        position: absolute;
        text-align: center;
        color: white;
        font-size: 150%;
        text-shadow: 0 0 10px #000;
        width: 100%;
        
        h1 {
            // text-decoration: underline;
            
            font-family: "Roboto Slab", serif;
            font-weight: 300;
            opacity: 0;
            animation: showOnStart forwards 1s;
        }
        
        hr {
            margin: 5px 0;
            opacity: 0;
            animation: showOnStart forwards 1s;
            animation-delay: .15s;
        }

        h4 {
            font-size: 90%;
            font-family: "Roboto Slab", serif;
            font-weight: 400;
            opacity: 0;
            animation: showOnStart forwards 1s;
            animation-delay: .25s;
        }
    }
}

@keyframes showOnStart{
    from {
        transform: translateY(40px);
        opacity: 0;
    } to {
        transform: translateY(0);
        opacity: 1;
    }
}

.content {
    outline: solid 1px red;
    max-width: 1000px;
    margin-top: 200px;
    margin: 100px auto 0 auto;
}