@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:300,400&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400&display=swap");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Rubik:300&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

body {
  background: #ececeb;
}

.loading-screen {
  z-index: 100;
  background-color: #010101;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  width: 100%;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
}

.loading-screen img {
  width: 225px;
  position: absolute;
}

.loading-screen p {
  font-family: "Playfair Display";
  text-transform: uppercase;
  z-index: 102;
  color: white;
  text-shadow: 0 0 1  5px #010101;
}

.hamburger-nav {
  position: fixed;
  display: block;
  z-index: 5;
  top: 20px;
  right: 25px;
  cursor: pointer;
}

.hamburger-nav .line {
  width: 25px;
  height: 3px;
  margin-top: 5px;
  background: white;
  opacity: 0;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.hamburger-nav .line:nth-child(1) {
  -webkit-animation: showOnStart forwards 1s ease;
          animation: showOnStart forwards 1s ease;
}

.hamburger-nav .line:nth-child(2) {
  -webkit-animation: showOnStart forwards 1s ease;
          animation: showOnStart forwards 1s ease;
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
}

.hamburger-nav .line:nth-child(3) {
  -webkit-animation: showOnStart forwards 1s ease;
          animation: showOnStart forwards 1s ease;
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}

.navigation {
  position: fixed;
  opacity: 0;
  -webkit-transform: translate3d(0, 100vh, 0);
          transform: translate3d(0, 100vh, 0);
  z-index: 4;
  height: 100vh;
  width: 100%;
  background-color: #222;
  -webkit-transition: 1000ms ease;
  transition: 1000ms ease;
  pointer-events: none;
}

.navigation a {
  background: #444;
  display: block;
  margin-top: 15px;
  text-align: center;
  font-size: 40px;
  color: white;
  text-decoration: none;
  padding: 3.5% 0;
  font-family: "Poppins";
  font-weight: 400;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
}

.navigation a.home:hover {
  background: #ffd05b;
}

.navigation a.classes:hover {
  background: #b04d5d;
}

.navigation a.info:hover {
  background: #f86254;
}

.launch-back {
  background: #000;
}

.launch-back img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100vh;
  opacity: .25;
  top: 0;
  overflow: hidden;
}

.launch-back .title {
  z-index: 1;
  top: 45%;
  position: absolute;
  text-align: center;
  color: white;
  font-size: 150%;
  text-shadow: 0 0 10px #000;
  width: 100%;
}

.launch-back .title h1 {
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  opacity: 0;
  -webkit-animation: showOnStart forwards 1s ease;
          animation: showOnStart forwards 1s ease;
}

.launch-back .title hr {
  width: 400px;
  margin: 10px auto;
  border: 1px solid white;
  opacity: 0;
  -webkit-animation: showOnStartHr forwards 1s ease;
          animation: showOnStartHr forwards 1s ease;
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
}

.launch-back .title h4 {
  font-size: 90%;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  opacity: 0;
  -webkit-animation: showOnStart forwards 1s ease;
          animation: showOnStart forwards 1s ease;
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}

@-webkit-keyframes showOnStart {
  from {
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes showOnStart {
  from {
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes showOnStartHr {
  from {
    width: 100px;
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
    opacity: 0;
  }
  to {
    width: 400px;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes showOnStartHr {
  from {
    width: 100px;
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
    opacity: 0;
  }
  to {
    width: 400px;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.content {
  height: 200vh;
  font-size: 20px;
  max-width: 1000px;
  margin-top: 200px;
  padding: 0 10px;
  margin: 100px auto;
}

.content .content1, .content .content3 {
  display: -ms-grid;
  display: grid;
}

.content .content1 .text, .content .content3 .text {
  z-index: 2;
  width: 595px;
  padding: 20px;
  margin: auto 0;
  -ms-grid-column: 2;
  grid-column: 2;
}

.content .content1 .text h1, .content .content3 .text h1 {
  font-family: "Playfair Display";
  line-height: 45px;
  font-weight: 400;
  font-size: 48px;
}

.content .content1 .text hr, .content .content3 .text hr {
  border: 1px solid black;
  margin: 5px auto;
  width: 0%;
}

.content .content1 .text p, .content .content3 .text p {
  font-family: "Rubik";
  line-height: 30px;
  font-size: 30px;
}

.content .content1 img, .content .content3 img {
  z-index: 1;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: 31px;
  height: 522px;
  width: 276px;
}

.content .content2 {
  display: -ms-grid;
  display: grid;
}

.content .content2 .text {
  z-index: 2;
  width: 595px;
  padding: 20px;
  margin: auto 0;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
}

.content .content2 .text h1 {
  font-family: "Playfair Display";
  line-height: 45px;
  font-weight: 400;
  font-size: 50px;
}

.content .content2 .text hr {
  border: 1px solid black;
  margin: 5px auto;
  width: 0%;
}

.content .content2 .text p {
  font-family: "Rubik";
  line-height: 30px;
  font-size: 30px;
}

.content .content2 img {
  z-index: 1;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: 31px;
  height: 522px;
  width: 276px;
  -ms-grid-column: 2;
  grid-column: 2;
}

.content .line-break {
  margin: 70px auto;
  width: 510px;
  border: solid black 1px;
}

.available-classes {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 100px;
}

.available-classes h1 {
  font-family: "Playfair Display";
  font-size: 40px;
  text-align: center;
}

.available-classes img {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

.available-classes p {
  font-family: "Rubik";
  padding: 5px 0;
  font-size: 20px;
  text-align: center;
}

.available-classes .class {
  padding: 25px;
}

.available-classes .class hr {
  margin: 0 auto;
}

.available-classes .classGrid {
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
}

.available-classes .classGrid .classContent {
  width: 445px;
}

.available-classes .classGrid .classContent:nth-child(1) {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
  padding: 25px;
  margin: 15px 0;
}

.available-classes .classGrid .classContent:nth-child(2) {
  -ms-grid-column: 2;
  grid-column: 2;
  padding: 25px;
  margin: 15px 0;
}

@-webkit-keyframes showTextLine {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes showTextLine {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@-webkit-keyframes howTextLine {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

@keyframes howTextLine {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

.copyright {
  text-align: center;
  padding: 10px 0;
  margin-bottom: 50px;
  -webkit-transform: translateY(-150px);
          transform: translateY(-150px);
  opacity: 0;
  font-family: "Roboto Slab";
  font-weight: 300;
  -webkit-animation: showCopyright 1500ms ease forwards;
          animation: showCopyright 1500ms ease forwards;
}

@-webkit-keyframes showCopyright {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
    opacity: 1;
  }
}

@keyframes showCopyright {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
    opacity: 1;
  }
}

@-webkit-keyframes hideCopyright {
  from {
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
    opacity: 1;
  }
  to {
    -webkit-transform: translateY(250px);
            transform: translateY(250px);
    opacity: 0;
  }
}

@keyframes hideCopyright {
  from {
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
    opacity: 1;
  }
  to {
    -webkit-transform: translateY(250px);
            transform: translateY(250px);
    opacity: 0;
  }
}
/*# sourceMappingURL=main.css.map */